.dashboard-and-navbar .navbar {
    background-color: blueviolet;
  }
  
  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  
  .dashboard h1 {
    text-align: center;
    font-weight: 500;
  }
  
  .dashboard h2 {
    margin-top: 40px;
    font-weight: 400;
  }
  
  .dashboard .dashboard-loading {
    margin: 40px;
  }
  
  .dashboard .boards {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .dashboard .board-card {
    width: 220px;
    height: 120px;
    padding: 20px 50px 20px 20px;
    margin: 20px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    background-color: blueviolet;
  }
  
  .dashboard .board-card:hover {
    background-color: black;
  }
  
  .dashboard .create-board-card {
    padding: 0;
    border: none;
    color: #333;
    font-size: 1rem;
    background-color: lightgrey;
    cursor: pointer;
  }
  
  .dashboard .create-board-card:hover {
    background-color: darkgrey;
  }